* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-main);
}

body {
    color: var(--color-text);
    background-color: var(--color-light);
    line-height: 1.6;
}